svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #555;
  stroke-width: 1.5px;
}

.area {
  fill: #ddd;
}
