!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %title Angular Dashboard
    %meta(name="description" content="")
    %meta(name="viewport" content="width=device-width")
    %link(rel="stylesheet" href="css/app.css")

  %body(ng-app="app")
    %h1 Angular Dashboard

    .well(ng-controller="TestDataController")
      %nv-chart(model="cpu" x-axis="time" y-axis="usage" width="900" height="400")

    %script(src="js/app.js")
